<aside>
  <h2>DANIIL'S BLOG</h2>
  <p>Hi, my name is Daniil Doe. Briefly introduce yourself here. You can also provide a link to the about page.</p>
  <hr >
  <ul>
    <li>
        <a href="" alt="">Home</a>
    </li>
    <li>
      <a href="articles" alt="">Articles</a>
    </li>
    <li>
      <a href="resume" alt="">CE</a>
    </li>
    <hr>
    <li>
        <a href="add" *appNgIfAdmin alt="">Add new article</a>
    </li>
    <li>
        <a href="login" *appNgIfNotLoggedIn alt="">Login</a>
    </li>
    <li>
      <a href="" *appNgIfAdmin alt="" (ngOnClick)="console.log(1)">Log Out</a>
    </li>
  </ul>
</aside>
<main>
  <router-outlet></router-outlet>
</main>


