<div class="card" *appNgIfAdmin style="margin: 10px">
    <div class="card-header">
        <h4>Create new article</h4>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" class="">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="Enter article title">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" id="content" name="content" [(ngModel)]="content" placeholder="Enter article content"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" id="image" name="image" [(ngModel)]="image" placeholder="Enter image URL">
                </div>
            <button type="submit" class="btn btn-primary">Add article</button>
            </form>
    </div>
</div>